
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Patrick Hand', cursive; /* Fuente infantil */
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Fondo con gradiente */
  color: #333;
}


h1 {
  font-size: 3rem;
  color: #ff6347; /* Rojo tomate brillante */
  margin-bottom: 30px;
  text-shadow: 2px 2px #ffa07a; /* Sombra suave */
}


.app-container {
  background-color: #fff5e6; /* Fondo suave */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

